---
# Indent parameters at 4 spaces, not at the opening parenthesis
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: 'false'
SortIncludes: 'false'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'true'
TabWidth: '4'
UseTab: Never

...
